<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985565262312-cbjqelf12qtonhds9epg2lv8rva209v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985565262312-cbjqelf12qtonhds9epg2lv8rva209v5</string>
	<key>API_KEY</key>
	<string>AIzaSyCCmiBMOqTtt9KsM1_4O6q15p4FC6FapqU</string>
	<key>GCM_SENDER_ID</key>
	<string>985565262312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gordon.P3</string>
	<key>PROJECT_ID</key>
	<string>p3-white-cha</string>
	<key>STORAGE_BUCKET</key>
	<string>p3-white-cha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985565262312:ios:c04ccd3350d84f6c89b45d</string>
</dict>
</plist>